@media screen and (max-width: 84em) {

    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .sections {
        display: flex;
        flex-direction: column;
    }

    .main {
        margin-right: 5rem;
        width: auto;
    }

    .sticky .sidenav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .close-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
        height: 100%;
    }

    .nav-open-icon {
        display: block;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    .sidenav {
        width: 20rem;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        opacity: 90%;
        backdrop-filter: blur();
        transform: translateX(100%);
    }

    .nav-open {
        position: fixed;
        transform: translateX(0);
    }
}

@media screen and (max-width: 67em) {
    .two-part-sections {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: none;
    }

    .dw-left {
        align-self: stretch;
    }

    .fs-left {
        border-bottom-right-radius: 0.9rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .fs-right {
        border-top-left-radius: 0.9rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

}

@media screen and (max-width: 50em) {

    .header-left {
        flex-direction: column;
    }

    .section-first {
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 34em) {
    html {
        font-size: 40%;
    }

    .container {
        position: relative;
    }

    .close-nav {
        position: absolute;
    }

    .sidenav {
        position: absolute;
    }

}