@media screen and (max-width: 84em) {
    .sections {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 67em) {


    .two-part-sections {
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }

    .two-part-section {
        width: 100%;
    }

    .dw-left {
        align-self: stretch;
    }

    .fs-left {
        border-bottom-right-radius: 0.9rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .fs-right {
        border-top-left-radius: 0.9rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .sidebar {
        opacity: 0.9;
        z-index: 9999;
    }

    .main {
        margin-right: 8rem;
    }

}

@media screen and (max-width: 50em) {

    .header-left {
        flex-direction: column;
        gap: 1.4rem;
    }

    .section-first {
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        justify-content: space-between;
        align-items: center;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.4rem;
    }

}

@media screen and (max-width: 34em) {
    html {
        font-size: 40%;
    }

    .main {
        margin-right: 8rem;
    }

    .section-heading {
        flex-direction: column;
        gap: 2rem;
    }
}